src/windows/SpiceSharp.Runner.Windows/obj/
src/windows/SpiceSharp.Runner.Windows/bin/
src/windows/packages/
src/windows/.vs/
src/windows/SpiceSharpRunner.Windows/obj/
src/windows/SpiceSharpRunner.Windows/bin/
src/portable/SpiceSharpRunner.Portable/.vs/
src/portable/SpiceSharpRunner.Portable/bin/
src/portable/SpiceSharpRunner.Portable/obj/
src/portable/OxyPlot.Avalonia/bin/
src/portable/OxyPlot.Avalonia/obj/
src/portable/AvaloniaExamples/bin/
src/portable/AvaloniaExamples/obj/
src/windows/SpiceSharpGUI.Windows/obj/
src/windows/SpiceSharpGUI.Windows/bin/
src/windows/SpiceSharpGUI.Windows.sln.DotSettings.user
